.mobile-menu {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    display: none;
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    padding: 48px 40px;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-between;

    &.is-open {
      display: flex;
    }
    .first {
      order: 1;

      font-size: 34px;
      line-height: 1.18;
      letter-spacing: 0.02em;

      color: #2196f3;
    }
  }
  @media screen and (min-width: 768px) {
    align-items: baseline;

    flex-grow: 2;
  }
}
.conact-box {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
  }
}
