.header-section {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
.navigation-bar {
  @extend %container;

  @media screen and (min-width: 768px) {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  margin-top: 0;
  padding-top: 0;
}
.navigation-box {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    flex-grow: 2;

    margin-bottom: -30px;
  }
  @media screen and (min-width: 768px) {
    margin-right: -50px;
  }
}
.navigation-box__ithem {
  position: relative;

  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
  @media screen and (max-width: 768px) {
    margin-bottom: 30px;
  }
}
.navigation-box__link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: $primary-text-color;

  @include transition(color);

  &:visited {
    color: $primary-text-color;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
  @media screen and (max-width: 767px) {
    font-size: 40px;
    line-height: 1.18;
    margin-bottom: 32px;
  }
}
///activepage
@media screen and (min-width: 768px) {
  .active-page {
    position: relative;
    color: $accent-color;

    &:hover,
    &:visited {
      color: $accent-color;
    }
    &::after {
      content: '';
      position: absolute;
      right: 0%;
      bottom: -1px;

      width: 100%;
      height: 4px;

      background-color: $accent-color;
      color: $accent-color;
      border-radius: 2px;
    }
  }
}
///contacts-header
.conact-box {
  display: flex;
  @media screen and (max-width: 767px) {
    margin-bottom: -30px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
    margin-right: -50px;
  }
}
.conact-box__ithem {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;

    &:first-child {
      order: 2;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.conact-box__link {
  display: flex;
  margin: 0px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: $secondary-text-color;

  @include transition(color);

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

.socials-box {
  @media screen and (max-width: 767px) {
    display: flex;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.socials-box__link {
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: $accent-color;
  &:hover,
  &:focus {
    color: inherit;
  }
}
.socials-box__ithem:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 20px;
}
