.clients-container {
  padding-top: 94px;
  padding-bottom: 94px;
  &__box {
    @extend %container;
  }
}

.client {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 1199px) {
    margin-left: -30px;
    margin-top: -30px;

    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}
.client__ithem {
  height: 92px;

  @media screen and (max-width: 767px) {
    width: calc((100% - 2 * 30px) / 2);
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 3 * 30px) / 3);
  }
  @media screen and (max-width: 1199px) {
    margin-left: 30px;
    margin-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 6 * 30px) / 6);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.client__link {
  @extend %centered;

  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;

  @include transition(color);
  @include transition(border);

  &:hover,
  &:focus {
    color: $accent-color;
    border: 1px solid $accent-color;
  }
}
